<html xmlns:wicket>
<wicket:panel>
	<table>
		<tr wicket:id="repeater" style="height:40px">
			<td>
				<div wicket:id="rowDisplay"/>
			</td>
			<td style="width:10px"></td>
			<td>
				<a href="#" wicket:id="delete">
	                <wicket:link>
	                    <img src="loeschenIcon.gif" border="0"/>
	                </wicket:link>
                </a>
				<br/>
				<br/>
			</td>
		</tr>
	</table>
	<form wicket:id="form">
		<table>
			<tr>
				<td>
					<div wicket:id="input"></div>
				</td>
				<td>
					<input value="" wicket:id="submit" name="Submit" type="submit" class="add-button" style="background-color:white"/>
				</td>
			</tr>
		</table>
	</form>
</wicket:panel>
</html>
  