<html xmlns:wicket="http://wicket.apache.org/">

<wicket:head>
	<script type="text/javascript">
		/**
		 * Get the filename of the image file.
		 */
		function setImageFileName()
		{
			var InputText = document.getElementById("icon_upload").value;
			document.getElementById("fake_icon_upload").value=InputText;
			
			if(InputText != "")
				$("div.submit_image_upload_container").show();
		}
		
		/**
		 * Hide the submit button if file selection changes.
		 */
		function hideSubmit()
		{
			$("div.submit_image_upload_container").hide();
		}
	</script>
</wicket:head>

<wicket:panel>
	<input id="icon_upload" 
		   wicket:id="imageFile" 
		   size="10" 
		   type="file" 
		   onchange="setImageFileName();"
		   onclick="hideSubmit();"/>
		   
	<input id="fake_icon_upload" value="" style="display:none"/>

    <span class="fakeAdd">
    	<span class="fakeAddIcon"></span>
    	<span class="fakeAddLabel">
    		<wicket:message key="browse">Durchsuchen</wicket:message>
    	</span>
    </span>
            
</wicket:panel>
</html>
