<html xmlns:wicket>
<wicket:panel>
    <!--<label  class="notRequired">
        <wicket:message key="country_code"/>
    </label>
	<div class="inputIndent">
		<input type="text" wicket:id="countryCode" />
	</div>
	
	<label  class="notRequired">
        <wicket:message key="area_code"/> 
    </label>
    <div class="inputIndent">
        <input type="text" wicket:id="areaCode" />
    </div>
	 -->
	<label class="notRequired">
        <wicket:message key="number"/>*
    </label>
    <div class="inputIndent">
        <input type="text" wicket:id="phone" />
    </div>
	
</wicket:panel>
</html>
  