<html xmlns:wicket>
<wicket:panel>
  	
	<label>
		<wicket:message key="street"/>
	</label>
	<div class="inputIndent">
		<input type="text" wicket:id="street" />
	</div>
	
	<label>
        <wicket:message key="houseNumber"/>
    </label>
    <div class="inputIndent">
        <input type="text" wicket:id="houseNumber"/>
    </div>
	
	<label>
		<wicket:message key="plz"/>
	</label>
	<div class="inputIndent">
		<input type="text" wicket:id="postcode" />
	</div>
	
	<label>
        <wicket:message key="town"/>
    </label>
    <div class="inputIndent">
        <input type="text" wicket:id="city" />
    </div>
	
	<label>
        <wicket:message key="country"/>
    </label>
    <div class="inputIndent">
    	<select wicket:id="country"/>
    </div>

</wicket:panel>
</html>
  