<html xmlns:wicket>

<wicket:head>
	<wicket:link>
		<link rel="stylesheet" type="text/css" href="RoundedBorderGreen.css"/>
	</wicket:link>
</wicket:head>

<wicket:border>

	<div class="border_header_left_green">
		<div class="border_header_right_green">
		  <div class="border_header_center_green"/>
		</div>
	</div>
	
	<div class="border_content_green">
		<wicket:body/>
		<wicket:remove>body body body</wicket:remove>
	</div>

	<div class="border_footer_left_green">
		<div class="border_footer_right_green">
		   <div class="border_footer_center_green"/>
		</div>
	</div>
	
</wicket:border>
</html>
  