<wicket:extend>

	<table class="contentTable studyContentTable" cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<p>
					<wicket:message key="headline"/>
				</p>
			</td>
			
			<td>
				<span wicket:id="headline" name="headline" id="headline" size="47"></span>
			</td>
			
			<td>
				<p>
					<wicket:message key="headline_legend"/>
				</p>
			</td>
		</tr>
		
		<tr>
			<td>
				<p>
					<wicket:message key="description"/>
				</p>
			</td>
			
			<td>
				<div wicket:id="description" name="description" id="description"></div>
			</td>
			
			<td>
				<p>
					<wicket:message key="description_legend"/>
				</p>
			</td>
		</tr>
		
	</table>

</wicket:extend>
