<wicket:panel>
  <div class="grayFilledTabbedPanel">
	<div wicket:id="tabs-container" class="tab-row">
		<ul>
			<li wicket:id="tabs">
				<a href="#" wicket:id="link"><span wicket:id="title">[[tab title]]</span></a>
			</li>
		</ul>		
	</div>
    <div class="tab_panel_content_border_header_left">
      <div class="tab_panel_content_border_header_right">
        <div class="tab_panel_content_border_header_center"></div>
      </div>
    </div>
    <div class="tab_panel_content">
       <div wicket:id="panel" class="tab-panel">[panel]</div>
    </div>
    <div class="tab_panel_content_border_footer_left">
      <div class="tab_panel_content_border_footer_right">
         <div class="tab_panel_content_border_footer_center"></div>
      </div>
    </div>
  </div>
</wicket:panel>